@using APlanner.Database

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("APlanner", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            DatabaseElements <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li>@Html.ActionLink("Course", "Index", "Courses")</li>
                            <li>@Html.ActionLink("Section", "Index", "Sections")</li>

                            @if (Session["User"] != null && (Session["User"] as Person).type == "S")
                            {
                                <li>@Html.ActionLink("Plan", "Index", "SPlans")</li>
                                <li>@Html.ActionLink("Schedule", "Index", "Schedules")</li>
                            }
                            @if (Session["User"] != null && (Session["User"] as Person).type == "P")
                            {
                                <li>@Html.ActionLink("Department", "Index", "Departments")</li>
                                <li class="divider"></li>
                            }
                            <li>@Html.ActionLink("Student", "Index", "Students")</li>
                            <li>@Html.ActionLink("Professor", "Index", "Professors")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @if (@ViewBag.errorMessage != null)
    {
        <ol>
            @for (int i = 0; i < @ViewBag.errorMessage.Length; i++)
            {
                <li>@ViewBag.errorMessage[i]</li>
            }
        </ol>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/calendar")
    @RenderSection("scripts", required: false)
</body>
</html>


