@model APlanner.Database.Enroll

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enroll</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.T)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.S)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.S)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section.PUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section.PUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Major)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Major)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
