@model APlanner.Database.Section
@using APlanner.Models
@using APlanner.Database

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Section</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SectNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course.CourseDP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.CourseDP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Professor.DepartID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor.DepartID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term.TermID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term.TermID)
        </dd>

    </dl>
</div>

@if (Session["User"] != null && (Session["User"] as Person).type == "P")
{
    <h2>CreateSTime</h2>

    <form action="/Sections/Details/@ViewBag.id" method="post">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <input type="hidden" name="SectID" value="@ViewBag.id" />

            <div class="form-group">
                <label class="control-label col-md-2" for="Period">Period</label>
                <div class="col-md-10">
                    <select class="form-control" id="Period" name="Period">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Weekday">Weekday</label>
                <div class="col-md-10">
                    <select class="form-control" id="Weekday" name="Weekday">
                        @for (int i = 1; i <= 5; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Classroom">Classroom</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="Classroom" name="Classroom" type="text" value="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
}


@Html.Partial("ScheduleDisplay", ViewBag.scheduleDisplay as ScheduleDisplay)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
