@model IEnumerable<APlanner.Database.Section>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SectNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.CourseDP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professor.DepartID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Term.TermID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SectNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.CourseDP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.DepartID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Term.TermID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SectID })
        </td>
    </tr>
}

</table>
