@model APlanner.Database.Schedule
@using APlanner.Models
@{
    ViewBag.Title = "Results";
}

<h2>Details</h2>

@*<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Probability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Probability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicOrPrivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicOrPrivate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPlan.SUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPlan.SUserID)
        </dd>

    </dl>


    <form action="/Schedules/Details/@ViewBag.id" method="post">
        <div class="form-horizontal">
            <input type="hidden" name="ScheID" value="@ViewBag.id" />
            <div class="form-group">
                @Html.LabelFor(model => model.Sections, "Section", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Section", null, htmlAttributes: new { @class = "form-control" })
                    
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

</div>*@



@Html.Partial("ScheduleDisplay", ViewBag.scheduleDisplay as ScheduleDisplay)



@*@section scripts {
        <script>
            $("#events").addClass("active");

            (function ($) {
                var options = {
                    events_source: 'Source',
                    view: 'month',
                    tmpl_path: '',
                    tmpl_cache: false,
                    onAfterEventsLoad: function (events) {
                        if (!events) {
                            return;
                        }
                        var list = $('#eventlist');
                        list.html('');

                        $.each(events, function (key, val) {
                            $(document.createElement('li'))
                                .html('<a href="' + val.url + '">' + val.title + '</a>')
                                .appendTo(list);
                        });
                    },
                    onAfterViewLoad: function (view) {
                        $('.page-header h3').text(this.getTitle());
                        $('.btn-group button').removeClass('active');
                        $('button[data-calendar-view="' + view + '"]').addClass('active');
                    },
                };

                var calendar = $('#calendar').calendar(options);

                $('.btn-group button[data-calendar-nav]').each(function () {
                    var $this = $(this);
                    $this.click(function () {
                        calendar.navigate($this.data('calendar-nav'));
                    });
                });

                $('.btn-group button[data-calendar-view]').each(function () {
                    var $this = $(this);
                    $this.click(function () {
                        calendar.view($this.data('calendar-view'));
                    });
                });
            }(jQuery));

        </script>
    }*@


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScheID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
