@model IEnumerable<APlanner.Database.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Probability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublicOrPrivate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPlan.SUserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Probability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicOrPrivate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPlan.SUserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ScheID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ScheID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ScheID })
        </td>
    </tr>
}

</table>
