@model APlanner.Database.SPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Probability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Probability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Major)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Major)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term.TermID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term.TermID)
        </dd>
    </dl>
    <form action="/SPlans/Details/@ViewBag.id" method="post">
        <div class="form-horizontal">
            <input type="hidden" name="PID" value="@ViewBag.id" />
            <div class="form-group">
                @Html.LabelFor(model => model.Courses, "Course", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Course", null, htmlAttributes: new { @class = "form-control" })
                    @*@Html.DropDownList("CategoryId", , new { multiple = "multiple" })*@
                    @*@Html.ValidationMessageFor(model => model.Courses, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>


    <br />
    <hr />


    <table class="table">
        <tr>
            <th>
                CourseName
            </th>
            <th>
                CourseNum
            </th>
            <th>
                Description
            </th>
            <th>
                Credit
            </th>
            <th>
                DepartNAME
            </th>
            <th></th>
        </tr>
        @foreach (var item in (ViewBag.Courses as IEnumerable<APlanner.Database.Course>))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartNAME)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CourseID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
                </td>
            </tr>
        }
    </table>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
